<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.mapper.ItemsMapper">

    <resultMap id="BaseResultMap" type="com.imooc.pojo.Items">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="itemName" column="item_name" jdbcType="VARCHAR"/>
            <result property="catId" column="cat_id" jdbcType="INTEGER"/>
            <result property="rootCatId" column="root_cat_id" jdbcType="INTEGER"/>
            <result property="sellCounts" column="sell_counts" jdbcType="INTEGER"/>
            <result property="onOffStatus" column="on_off_status" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,item_name,cat_id,
        root_cat_id,sell_counts,on_off_status,
        content,created_time,updated_time
    </sql>


    <select id="queryItemComments" resultType="com.imooc.pojo.vo.ItemCommentVO" parameterType="Map">
        SELECT
            ic.comment_level as commentLevel,
            ic.item_id as itemId,
            ic.sepc_name as specName,
            ic.content as content,
            ic.created_time as createdTime,
            u.username as nickname,
            u.id as userId,
            u.face as userFace
        FROM
            items_comments ic
        LEFT JOIN
            users u
        ON
            ic.user_id = u.id
        WHERE
            ic.item_id = #{paramsMap.itemId}
          <if test="paramsMap.level != null and paramsMap.level != ''">
              AND ic.comment_level = #{paramsMap.level}
          </if>

    </select>
</mapper>
