<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.mapper.ItemsMapper">

    <resultMap id="BaseResultMap" type="com.imooc.pojo.Items">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="itemName" column="item_name" jdbcType="VARCHAR"/>
            <result property="catId" column="cat_id" jdbcType="INTEGER"/>
            <result property="rootCatId" column="root_cat_id" jdbcType="INTEGER"/>
            <result property="sellCounts" column="sell_counts" jdbcType="INTEGER"/>
            <result property="onOffStatus" column="on_off_status" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,item_name,cat_id,
        root_cat_id,sell_counts,on_off_status,
        content,created_time,updated_time
    </sql>

    <!-- 商品评论   -->
    <select id="queryItemComments" resultType="com.imooc.pojo.vo.ItemCommentVO" parameterType="Map">
        SELECT
            ic.comment_level as commentLevel,
            ic.item_id as itemId,
            ic.sepc_name as specName,
            ic.content as content,
            ic.created_time as createdTime,
            u.username as nickname,
            u.id as userId,
            u.face as userFace
        FROM
            items_comments ic
        LEFT JOIN
            users u
        ON
            ic.user_id = u.id
        WHERE
            ic.item_id = #{paramsMap.itemId}
          <if test="paramsMap.level != null and paramsMap.level != ''">
              AND ic.comment_level = #{paramsMap.level}
          </if>

    </select>


    <!-- 商品搜索   -->
    <!-- 排序规则   -->
    <!--   k: 默认，代表默认排序，根据name-->
    <!--   c: 根据销量排序-->
    <!--   p: 价格排序-->
    <select id="searchItems" resultType="com.imooc.pojo.vo.SearchItemVO" parameterType="Map">
        SELECT
            i.id as item_id,
            i.item_name as itemName,
            i.sell_counts as sellCounts,
            ii.url as imgUrl,
            tempSpec.price_discount as price
        FROM
            items i
        LEFT JOIN
            items_img ii
        ON
            i.id = ii.item_id
        LEFT JOIN
            (SELECT item_id, MIN(price_discount) as price_discount FROM items_spec GROUP BY item_id) tempSpec
        ON
            i.id = tempSpec.item_id
        WHERE
            ii.is_main = 1
            <if test="paramsMap.keywords != null and paramsMap.keywords != ''">
                AND i.item_name LIKE '%${paramsMap.keywords}%'
            </if>
        ORDER BY
            <choose>
                <when test="paramsMap.sort == &quot;c&quot;">
                    i.sell_counts DESC
                </when>
                <when test="paramsMap.sort == &quot;p&quot;">
                    tempSpec.price_discount ASC
                </when>
                <otherwise>
                    i.item_name ASC
                </otherwise>
            </choose>

    </select>

    <!-- 三级分类商品搜索   -->
    <select id="searchItemsByThirdCat" resultType="com.imooc.pojo.vo.SearchItemVO" parameterType="Map">
        SELECT
            i.id as item_id,
            i.item_name as itemName,
            i.sell_counts as sellCounts,
            ii.url as imgUrl,
            tempSpec.price_discount as price
        FROM
            items i
        LEFT JOIN
            items_img ii
        ON
            i.id = ii.item_id
        LEFT JOIN
            (SELECT item_id, MIN(price_discount) as price_discount FROM items_spec GROUP BY item_id) tempSpec
        ON
            i.id = tempSpec.item_id
        WHERE
            ii.is_main = 1
            AND
            i.cat_id = #{paramsMap.catId}
        ORDER BY
        <choose>
            <when test="paramsMap.sort == &quot;c&quot;">
                i.sell_counts DESC
            </when>
            <when test="paramsMap.sort == &quot;p&quot;">
                tempSpec.price_discount ASC
            </when>
            <otherwise>
                i.item_name ASC
            </otherwise>
        </choose>

    </select>


    <select id="queryItemsBySpecIds" parameterType="List" resultType="com.imooc.pojo.vo.ShopcarVO">
        SELECT
            t_items.id as itemId,
            t_items.item_name as itemName,
            t_img.url as itemImgUrl,
            t_spec.id as specId,
            t_spec.`name` as specName,
            t_spec.price_discount as priceDiscount,
            t_spec.price_normal as priceNormal
        FROM
            items_spec t_spec
        LEFT JOIN
            items t_items
        ON
            t_items.id = t_spec.item_id
        LEFT JOIN
            items_img t_img
        ON
            t_items.id = t_img.item_id
        WHERE
            t_img.is_main = 1
          AND
            t_spec.id
            IN
            <foreach collection="paramsList" index="index" item="specId" open="(" close=")" separator=",">
                #{specId}
            </foreach>
    </select>

</mapper>
