<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.mapper.OrdersMapper">

    <resultMap id="BaseResultMap" type="com.imooc.pojo.Orders">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="receiverName" column="receiver_name" jdbcType="VARCHAR"/>
            <result property="receiverMobile" column="receiver_mobile" jdbcType="VARCHAR"/>
            <result property="receiverAddress" column="receiver_address" jdbcType="VARCHAR"/>
            <result property="totalAmount" column="total_amount" jdbcType="INTEGER"/>
            <result property="realPayAmount" column="real_pay_amount" jdbcType="INTEGER"/>
            <result property="postAmount" column="post_amount" jdbcType="INTEGER"/>
            <result property="payMethod" column="pay_method" jdbcType="INTEGER"/>
            <result property="leftMsg" column="left_msg" jdbcType="VARCHAR"/>
            <result property="extand" column="extand" jdbcType="VARCHAR"/>
            <result property="isComment" column="is_comment" jdbcType="INTEGER"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,receiver_name,
        receiver_mobile,receiver_address,total_amount,
        real_pay_amount,post_amount,pay_method,
        left_msg,extand,is_comment,
        is_delete,created_time,updated_time
    </sql>

    <!-- 我的订单查询   -->
    <resultMap id="myOrdersVO" type="com.imooc.pojo.vo.MyOrdersVO">
        <id property="orderId" column="orderId"/>
        <result property="createdTime" column="createTime"/>
        <result property="payMethod" column="payMethod"/>
        <result property="realPayAmount" column="realPayAmount"/>
        <result property="postAmount" column="postAmount"/>
        <result property="isComment" column="isComment"/>
        <result property="orderStatus" column="orderStatus"/>

        <collection property="subOrderItemVOList" ofType="com.imooc.pojo.vo.MySubOrderItemVO">
            <id property="itemId" column="itemId"/>
            <result property="itemName" column="itemName"/>
            <result property="itemImg" column="itemImg"/>
            <result property="itemSpecName" column="itemSpecName"/>
            <result property="buyCounts" column="buyCounts"/>
            <result property="price" column="price"/>
        </collection>
    </resultMap>

    <select id="queryMyOrders" resultMap="myOrdersVO" parameterType="Map">
        SELECT
            od.id as orderId,
            od.created_time as createdTiime,
            od.pay_method as payMethod,
            od.real_pay_amount as realPayAmount,
            od.post_amount as postAmount,
            os.order_status as orderStatus,
            oi.item_id as itemId,
            oi.item_name as itemName,
            oi.item_img as itemImg,
            oi.item_spec_name as itemSpecName,
            oi.price as price
        FROM
            orders od
        LEFT JOIN
            order_status os
        ON
            od.id = os.order_id
        LEFT JOIN
            order_items oi
        ON
            od.id = oi.order_id
        WHERE
            od.user_id = #{paramsMap.userId}
        AND
            od.is_delete = 0
        <if test="paramsMap.orderStatus != null">
        AND
            os.order_status = #{paramsMap.orderStatus}
        </if>

        ORDER BY
            od.updated_time ASC
    </select>
</mapper>
